/* Template para emplear en el desarrollo web empleando Bootstrap 
   7mo. TEL - 2020 ; Camada 1420 ; 16/06/2020 */

/* Links de interés:
 * Colores:
 https://www.site24x7.com/es/tools/selector-de-codigo-color.html
 https://encycolorpedia.es/ -> Aquí puedo encontrar valores de colores de marcas características.
 https://www.htmlcsscolor.com/hex/CCA43D
 https://colorhunt.co/
 https://coolors.co/

 * Fit de imagen en el carousel:
 https://www.w3schools.com/css/css3_object-fit.asp

 * Edición de imagenes:
 https://www.iloveimg.com/es
*/

/* :root Selecciona el elemento raíz del documento,
   <html> en el caso de HTML. La pseudo-clase :root 
   de CSS selecciona el elemento raíz de un árbol que representa el documento. 
   :root puede ser útil para declarar variables CSS globales.
   https://developer.mozilla.org/es/docs/Web/CSS/:root */

   @import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');
   @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
   @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap');
   @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');
   @import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
   @import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

:root{
    --main-bg-color: rgb(113, 160, 55);
    --icon-color: rgb(68, 100, 28);
}

head, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif ;
    font-size: larger;
    color: rgb(0, 0, 0);
}

.navbar-brand{
    font-family: "Playfair Display",serif;
    font-weight: bolder;
    font-size: 120%;
}

/* ------- Estilos para el Header ------- */
.main-header{
    background-color: var(--main-bg-color);
}

.main-header hr{
    border-color: var(--icon-color);
    margin: 0;
}

/* ------ Estilos para el Carousel ------ */
.main-carousel{

}

.carousel-inner img{
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.carousel-caption h3{
    font-size: 300%;
    font-family: "Playfair Display",serif;
    color: rgb(0, 0, 0);
} 

/* ------ Estilos para el Welcome ------- */
.main-welcome{

}

/* ------- Estilos para los cards ------- */
.main-cards{

}

/* ------- Estilos para el footer ------- */
.main-footer{

}