/* así se hace un comentario en css*/

@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

/* el * es el selector universal*/
*{
  box-sizing: border-box;
  color: black;
}

/* selector por palabra clave*/
head, body{
  margin: 0;
  padding: 0;
}

h2{
  font-family: 'Merriweather', serif;
}

h3{
  font-family: "Playfair Display",serif;
  text-decoration: underline rgb(96, 31, 216);
  margin-bottom: 30px;
  margin-top: 40px;
}

body{
  background-image: url(./Imagenes/Fondo1.jpg);
  background-size: cover;
}

video{
  width: 100%;
}

/*selector por clase, por eso tiene el . adelante*/
.main-header{
  background-image: url("./Imagenes/Periodico.jpg");
  background-color: rgba(0, 0, 0, .6);
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 20px;
}

.nav ul{
  margin: 0;
}


.nav li{
  display: inline;
}

.nav a{
  display: inline-block;
  padding: 1em;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.nav a:hover{
  background-color: rgba(255, 255, 255, 0.3);
}

.main-nav{
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main-nav li{
  padding: 0 5%;
}

.nombre{
  text-align: center;
  margin-bottom: 2px;
  font-family: "Piedra";
  font-weight: normal;
}

.nombre-principal{
  font-size: 4em;
  color: rgb(255, 255, 255);
}

.content-section{
  margin: 1em;
}

.conteiner{
  max-width: 1000px;
  margin: 0 auto; /* auto es para que si tu página tiene menos del max-width se acomode a esa página*/
  padding: 0 1.5em;
  font-family: 'Roboto Slab', serif;
  font-weight: bolder;
  font-size: medium;
}

.section-header{
  font-size: xx-large;
  color: #333;
}

.imagen-personal{
  display: block;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  border-radius: 50%;
}

.main-footer{
  background-color: rgba(25, 23, 160, 0.6);
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 20px;
}




/*  Dieciseis -  Un área del documento que contiene un flexbox es llamada contendedor flex. 
  Para crear un contenedor flex, establecemos la propiedad display de la clase contenedora como flex 
  o inline-flex. Tan pronto como hacemos esto, los hijos directos de este contenedor se vuelven ítems 
  flex. Como con todas las propiedades de CSS, se definen algunos valores iniciales, así que cuando 
  creemos un contenedor flex todos los ítems flex contenidos se comportarán de la siguiente manera 
  
  El resultado es que todos los ítems se alinearán en una solo fila, usando el tamaño del contenedor 
  como su tamaño en el eje principal. 
  Si hay más ítems de los que caben en el contenedor, estos no pasarán más abajo si no que sobrepasarán 
  el margen. 
  Si hay ítems más altos que otros, todos los ítems serán ajustados en el eje cruzado para alcanzar 
  al mayor.
  
  https://www.w3schools.com/css/css3_flexbox.asp
  https://developer.mozilla.org/es/docs/Web/CSS/CSS_Flexible_Box_Layout/Conceptos_Basicos_de_Flexbox */

  .main-footer-conteiner{
    display: flex;
    align-items: center;
  }
  
  /*  Diecisiete - A partir de lo que se analizó en puntos anteriores, ¿puede describir que hacemos aquí? */
  
  .main-footer-conteiner h3{
    color: white;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    margin: 10px;
  }
  
  /*   Dieciocho - La propiedad flex-grow de CSS especifica el factor de crecimiento de un elemento flexible 
    (que tiene asignado display:flex), en su dirección principal. El factor de crecimiento especifica qué 
    cantidad del espacio restante dentro del contenedor flexible, debería ocupar el item en cuestión. */
  
  .main-footer-conteiner ul{
    flex-grow: 0.5;
    text-align: end;
  }
  
  /*  Diecinueve - A partir de lo que se analizó en puntos anteriores, ¿puede describir que hacemos aquí? */
  
 /* .footer-nav li{
    padding: 0 5%;
  }*/

  .footer-nav img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
  }

  .footer-nav p{
    color: white;
    margin-left: auto;
    margin-right: auto;
  }

  /* --------------------------------------------------------------------------------------- */

/*------------------------------ estilo para el slider --------------------------------------*/

.slider-completo{ /* le doy las propiedades generales a mi contenedor*/
  width: 800px;
  height: 500px;
  position: relative; /* si es absolute se pone encima de la página*/
  display: flex; 
  margin-top: 50px;
  margin-bottom: 150px;
  margin-right: auto;
  margin-left: auto;
  /*overflow: hidden;*/ /*para que todo quede dentro del contenedor */
  perspective: 800px;/*para darle una terminación 3d a las transiciones*/
}



.contenido-slider{ /* es el contenedor de las fotos*/
  width: 100%;
  height: 100%; /*que ocupe todos los pixeles del contenedor definido arriba*/
  position: absolute; /* para que se encimen entonces da la sensación que las muevo */
  top: 0px;
  left: 0px;
  transform: translateX(-100%) rotateY(360deg);
  transition: all 1s;
  opacity: 0; /*para que cuando haga la transicion le ponga 1 y parece que se desvanece, la img1 la debo poner con opacidad 1 pq quiero que siempre se vea*/
  /*display: none; */ /* sino me muestra todo junto, esto hace que no muestre nada*/
}

#img1{ /* es mi imagen que yo quiero que se mantenga por más que recargue la página*/
  /*display: block;*/
  transform: translateX(0);
  opacity: 1;
}

.contenido-slider:target{ /* target es cuando yo toco la flechita que llama a la imagen, quiero que se muestre solo esa foto*/
  /*display: block;*/
  transform: translateX(0) rotateY(0deg);
  opacity: 1;
}

.contenido-slider img{
  width: 100%;
  height: 100%; /*que ocupe todo el marco de contenido-slider*/
}

.icon-left-open{ /*le doy propiedades a mi flechita para atras*/
  position: absolute;
  top: 250px;
  left: 0;
  font-size: 40px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.icon-left-open:hover{
  background-color: rgba(255, 255, 255, 0.3);
}

.icon-right-open{ /*le doy propiedades a mi flechita para adelante*/
  position: absolute;
  top: 250px;
  right: 0;
  font-size: 40px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.icon-right-open:hover{
  background-color: rgba(255, 255, 255, 0.3);
}

.epigrafes{ /*le doy los aspectos generales a mi epigrafe*/
  position: relative;
  top: 0px;
  width: 800px;
  margin: auto;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-align: start;
 }

.epigrafes p{
  font-family: 'Playfair Display', serif;
  font-weight: bolder;
  font-size: larger; 
}

.epigrafes a{
  border-style: none;
  font-family: cursive;
}

.epigrafes a:hover{
  cursor: pointer;
  color: rgba(43, 27, 189, 0.644);
}

/* -----------------En esta parte formateo todo lo que es las noticias por separado -------------------*/

.noticias{
  margin-bottom: 150px;
}

.introduccion{
  text-decoration: underline;
  font-size: x-large;
  font-family: "Comic";
  line-height: 35px;
}

.contenido{
  font-weight: bolder;
  font-size: medium;
  text-align: justify;
  line-height: 25px;
}

.sub-noticia{
  color: blue;
  text-decoration: solid;
}

.foto-pie-noticia{
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.foto-pie-noticia:hover{
  transform: scale(2);
}

.foto-pie-noticia img{
  width: 100%;
}

/* ----------------- A partir de acá le doy estilo al formulario de contacto -------------------*/

.form{
  background-color: rgba(216, 121, 31, 0.8);
  max-width: 650px;
  width: 90%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 5px 35px;
  padding-bottom: 30px;
  border-radius: 5px;
}

.form-title{
  font-weight: normal;
  text-align: center;
  padding: 14px 0;
  font-family: 'Hammersmith One', sans-serif;
  font-size: xx-large;

}

.form-label{ /*todos los labels de los recuadros*/
  display: block;
  color: #000000;
  font-size: 16px;
  font-family: robot;
  position: relative;
  margin-bottom: 10px;

}

.form-input, .form-textarea{ /*todos los recuadros donde pongo info*/
  background-color: rgba(255, 255,255, 0.5);
  border: none;
  outline: none;
  border-bottom: 2px solid rgba(216, 121, 31);
  width: 100%;
  padding: 12px;
  margin-bottom: 30px;
  border-radius: 2px;
  font-size: 14px;
  color: black;
}

.form-textarea{
  resize: vertical;
  max-height: 150px;
  min-height: 50px;
}

.boton-sumbit{
  width: 100%;
  height: 30px;
  outline: none;
  background: rgba(216, 121, 31);
  border: 5px;
  color: rgba(255, 255, 255, 0.7);
  transition: all .5s ease;/*para que cambie de color lento*/
}

.boton-sumbit:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, .3);
}

/* ----------------- A partir de acá le doy estilo al autor -------------------*/

.lista-hobbies li{
  margin: 20px;
  color: rgb(96, 31, 216);
  font-family: Arial, Helvetica, sans-serif  ;
}

.lista-hobbies img{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
}

.lista-hobbies img:hover{
  transform: translateX(-400px) rotateY(180deg);
  transition: all 1s;
  cursor: crosshair;
}

.footer-autor{
  padding-top: 30px;
  text-align: center;
 
}

.muchas-gracias{
  color: white;
  font-family: 'Staatliches', cursive;
  font-size: xx-large;
}